@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;600;700&family=Roboto+Slab:wght@300;400;500;700&display=swap);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Verdana', sans-serif;
  font-style: normal;
  font-size: 16px;
}

body {
  background-color: #f5f6fa;
}

/* Main Container */
#mainDiv {
  margin: 3% auto;
  width: 90%;
  background-color: #fafafa;
}

.ul-container {
  width: 85%;
  margin: 4% auto;
}

.addBookContainer {
  margin: 2% auto 4% auto;
  width: 85%;
}

@media only screen and (max-width: 767px) {
  #MainDiv {
    margin: auto;
    width: 90%;
  }

  .ul-container {
    width: 90%;
  }

  .addBookContainer {
    width: 90%;
  }
}

@media only screen and (max-width: 479px) {
  #MainDiv {
    margin: auto;
    width: 90%;
  }
}
